<?xml version="1.0"?>
<robot name="my_robot">

  <link name="base">
    <visual>
        <origin xyz="0 0 0" rpy = "0 0 0"/>
        <geometry>
            <mesh filename="package://robotv1_description/meshes/base.stl"/>
        </geometry>
    
    </visual>

    <collision>
    
        <origin xyz="0 0 0" rpy = "0 0 0"/>
        <geometry>
            <box size="0.12 0.12 0.05"/>
        </geometry>

    </collision>

    <inertial>
        <origin xyz="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="0.00282" ixy="0.0" ixz="0.0"
           iyy="0.00282" iyz="0.0" izz="0.00480"/>
    </inertial>
  </link>

</robot>
